
*{
    margin:0
}
html, body {
    overflow-x:hidden
}
.header--container{
    height: 50px;
    background-color: white;
    font-weight: 800;
    text-shadow: 3px 3px 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    box-shadow: 2px 3px 3px;
    
}
.date--container{
    background-color:#fff;
    width: 200px;;
    margin-top :10px;
    margin-left :3px;
    height:52px; 
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;
    font-size: 10px;
    color:#000;
    box-shadow: 2px 3px 3px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.flag {
    width: 100px;  
}

.selectbox--container{
    box-shadow: 2px 3px 3px;
    background-color: rgb(228, 181, 26);
    font-weight: 700;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-around;
    padding-left:5px;
    padding-right:5px;
    text-align: center;
}

.waka--intro{
    display: flex;
    justify-content: center;
    align-items:center;
}

.select--container{
    box-shadow: 2px 3px 3px;
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
}

.current--container{
    background-color:yellow;
    display:flex;
    justify-content:center;
    align-items: center;
}
.desired--container{
    background-color: rgb(255, 0, 212);
    display:flex;
    justify-content:center;
    align-items: center;
}

.tour--appeal{
    box-shadow:2px 3px 3px rgb(255, 0, 212);
    display:flex;
    justify-content:center;
    align-items: center;
    text-align: center;
    width:100%;
    height: 300px;
    font-size: 20px;
    font-weight: 900;

}
.flag--anthem{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
.tour--container{
    margin-top: 10px;
    box-shadow: 2px 3px 3px;
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;  
}
.portal--image--base{
    width: 100%;
    border-radius: 9px;
    box-shadow: 3px;
    background-color: aqua;
    margin: 5px
}
.portal--image{
    margin:5px;
    width: 98%;
    height: 220px;
    aspect-ratio: 2;
    border-radius: 9px;
    box-shadow: 3px 3px 3px;
}

.portal--image--controls{
    width:50%;
    height:40px;
    background-color:wheat;
    box-shadow: 2px, 3px, 3px;
    display:flex;
    margin-top:3px;
    justify-content:space-between;
    align-items: center;
    padding-left:10px;
    padding-right:10px;
    margin: 3px;
    border-radius: 10px;
}

#play--pause--skip{
    
    display: flex;
    justify-content:center;
    align-items: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    
}

#play--pause--skip:hover{
    background-color: red;
    display: flex;
    justify-content:center;
    align-items: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    transition:2000ms
    
}

.city--container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.control{
    width:25px;
    height:25px;
    border-radius: 50%;
}

.container--niche--tabs{
    
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height:auto;
    width:auto;
    margin: 1px;
    background-color:#fff;
    flex-wrap: wrap;
    box-shadow: 2px 3px 3px ;
    margin-bottom: 6px;
    

}

.niche--tabs{
    background-color:bisque;
    font-size: 12px;
    width: 100px;
    background-color: rgb(243, 236, 236);
    height:32px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: auto;
    margin: 3px;
    font-weight: 800;
    padding:2px 10px;
    box-shadow:2px 3px 3px;
    border-radius:7px ; 
    text-decoration: none;
    }

    .niche--tabs:hover{
        background-color:bisque;
        font-size: 12px;
        width: 100px;
        height:28px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 3px;
        font-weight: 800;
        padding:2px 10px;
        box-shadow:1px 1px 1px;
        border-radius:7px ; 
        transition:300ms;
        }
    .map--flag{
        width:300px;
        height:200px
    
    }